/* Global */

* {
    box-sizing: border-box;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 1.1rem;
    font-family: 'Open-Sans', sans-serif;
    font-weight: 400;
    color: hsl(208, 11%, 55%);
}

h1,
h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: black;
}

p {
    padding-top: 20px;
    line-height: 1.6;
}

#main-container {
    margin: 10% auto 18%;
    width: 80%;
    position: sticky;
}

.nav-bar,
.hero-section {
    display: flex;
    justify-content: space-between;
}

.content-container img {
    width: 25vw;
}

.content-container {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    padding: 50px 30px;
    border-radius: 20px;
    box-shadow: 0 5px 30px 2px rgba(0, 0, 0, 0.1);
}

.section-content {
    padding: 100px 50px;
    width: 45%;
}


/* Header Section */

#header {
    padding: 80px 120px 10px;
    height: 90vh;
    background-image: url('../images/bg-hero-desktop.svg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.hero-content-container h1 {
    font-size: 2.5rem;
}

.nav-button {
    border-radius: 45px;
    border-style: none;
    outline: none;
    background-color: #fff;
    width: 10vw;
    height: 3vh;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    font-weight: bolder;
    transition: all 0.3s ease-in-out;
}

.nav-button:hover {
    background-color: hsl(322, 100%, 66%);
    color: white;
    transform: scale(1.1);
}

.hero-section {
    margin-top: 5%;
}

.hero-content-container {
    width: 50%;
    margin: 150px 30px 0 0;
    color: black
}

.get-started-button {
    margin-top: 30px;
    background-color: hsl(322, 100%, 66%);
    font-size: 0.8rem;
    outline: none;
    color: white;
    border-radius: 45px;
    border-style: none;
    width: 14vw;
    height: 4vh;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    font-weight: bolder;
    transition: all 0.3s ease-in-out;
}

.get-started-button:hover {
    margin-top: 20px;
    transform: scale(1.1);
}

.hero-image {
    width: 55vw;
    padding-left: 50px;
}


/* Section 4 CTA */

.cta-container {
    background-color: white;
    position: relative;
    bottom: 150px;
    z-index: 1;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0 5px 30px 2px rgba(0, 0, 0, 0.1);
    height: 20vh;
    width: 45vw;
    padding: 50px 30px;
}

.cta-button {
    margin-top: 10px;
    background-color: hsl(322, 100%, 66%);
    font-size: 1rem;
    letter-spacing: 0.5px;
    outline: none;
    color: white;
    border-radius: 45px;
    border-style: none;
    width: 19vw;
    height: 5vh;
    box-shadow: 0 0 8px 8px rgba(0, 0, 0, 0.1);
    font-weight: bolder;
    transition: all 0.3s ease-in-out;
    transform: translateY(25px);
}

.cta-button:hover {
    transform: scale(1.1);
}


/* Section 4 Footer */

#section-4 {
    background-color: hsl(192, 100%, 9%);
    height: 50vh;
}